<h1>ok fine</h1>
<%= link_to 'единицы техники', technics_units_path %>
<%= link_to 'сотрудники', employees_path%>
<%= link_to 'документы о сдаче в ремонт', technics_repair_documents_path %>
<%= link_to 'документы о перемещении техники', transfer_documents_path %>
